body
{
    background-image: url("https://images.unsplash.com/photo-1495218128687-72d990041786?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ae5daa6b1ae369ce0c5f2e9f46e7604f&auto=format&fit=crop&w=1489&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    text-decoration: none;
    text-decoration-color: none;
    background-color: none;
}

a:visited {
  text-decoration-color: black;
}

a:active {
  text-decoration-color: black;
}
#id01
{
  color:black;
  text-align: center;
}

#id02
{
  color: black;
}

#id03
{
  color:black;
  text-align: center;
}

#rect_corners {
    border-radius: 15px 50px 30px;
    border: 2px solid #FFFFFF;
    background: #f4eade;
    opacity: 0.5;
    padding: 20px;
    position:absolute;
    top:20%;
    bottom:20%;
    left:15%;
    right:15%;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


button {
  color: white;
  border-radius: 20px;
  padding: 14px 100px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}


button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtnL {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.cancelbtnSU {
    padding: 14px 20px;
    background-color: #f88e86;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtnSU, .signupbtn {
  float: left;
  width: 50%;
}


/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.container2 {
  border-radius: 15px 50px 30px;
  border: 2px solid ##fff0f0;
  background: white;
  padding: 20px;
  position:absolute;
  top:30%;
  bottom:30%;
  left:25%;
  right:25%;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}




/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}


/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}


/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}


.btn-grp button
{
  position:relative;
  left:35%;
  width:30%;
  top: 220px;
  display: block;
}
.btn-grp button:not(:last-child)
{
  border-bottom:none;
}
